.bg_img1 {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.bg_img2 {
    width: 100%;
    margin: 0 auto;
    display: none;
}

.blog_details {
    margin-bottom: 100px;
}

.bg_details {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 100px;
}

.bg_header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    padding: 20px 0;
}

.bd_body {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02em;
    opacity: 0.6;
    padding: 20px 0;
}

.bg_sub_img {
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
    justify-content: center;
}

.bg_s_img {
    width: 100%;
    max-width: 460px;
}

@media screen and (max-width: 900px) {
    .bg_header {
        font-size: 32px;
    }

    .bg_details {
        padding-bottom: 50px;
    }

    .bd_body {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .bg_header {
        font-size: 24px;
    }

    .bd_body {
        font-size: 14px;
    }

    .bg_img1 {
        display: none;
    }

    .bg_img2 {
        display: block;
    }
}