.main-inner-content {
  display: flex;
  gap: 20px;
}

.type-of-issue {
  width: 30%;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
}

.hr123 {
  margin: 0 0 0 0 !important;
}

.sidebar {
  width: 70%;
}

.sidebar-shadow {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
}

.type-of-issue h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  padding: 20px 0 20px 10px;
}

.type-of-issue ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #000;
  padding: 10px 25px;
}

ul li a:hover {
  background: #fea700;
}

.upper-sitebar {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  opacity: 0.6;
  padding: 20px;
}

.bottom-text-want {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  display: flex;
}

.shop-img {
  width: 100%;
  text-align: center;
  padding: 100px 0;
}

.login-text {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  padding: 5px 0;
}

.add-to-cart123 {
  background: #fea700;
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #272220;
  border: 1px solid;
  padding: 6px 26px;
}

.flex-photo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.des {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}

.de {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #1edd76;
  border-radius: 50%;
  display: inline-block;
}

.pendrive {
  width: 30%;
  text-align: center;
}

.view-more {
  padding: 0 70px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #1c6dc1;
  cursor: pointer;
}

.sidebar-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  padding: 20px;
}

.ineer-button {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.inner-button-first {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.inner-button-second {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.flex-right {
  font-size: 30px;
  font-weight: 600;
}

.ineer-button:hover {
  background: #fea700;
  cursor: pointer;
}
