.main-inner-content {
  display: flex;
  gap: 20px;
}

.issue-options {
  max-height: 600px;
  width: 30%;
}

.types-of-issue {
  width: 100%;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  max-height: 600px;
  overflow-y: auto;
}

.types-of-issue::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  border-radius: 10px;
  background-color: transparent;
}

.types-of-issue::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.types-of-issue::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: #d3d3d3;
}

.type_of_issue {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  padding: 20px 0 20px 10px;
}

.hr123 {
  margin: 0 0 0 0 !important;
}

.active123 {
  background-color: #fea700;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #000;
  padding: 10px 25px;
}

.sidebar {
  width: 70%;
}

.sidebar-shadow {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
}

.main_sidebar_upper_li_div {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #000;
  padding: 10px 25px;
}

.main_sidebar_upper_li_div:hover {
  background: #fea700;
}

.upper-sitebar {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  opacity: 0.6;
  padding: 20px;
}

.bottom-text-want {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  display: flex;
}

.shop-img {
  width: 100%;
  text-align: center;
  padding: 100px 0;
}

.login-text {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  padding: 5px 0;
}

.add-to-cart123 {
  background: #fea700;
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #272220;
  border: 1px solid;
  padding: 6px 26px;
}

.flex-photo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.des {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}

.de {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #1edd76;
  border-radius: 50%;
  display: inline-block;
}

.pendrive {
  width: 20%;
  text-align: center;
}

.pendrive101 {
  width: 100%;
  max-width: 120px;
}

.view-more {
  padding: 0 70px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #1c6dc1;
  cursor: pointer;
}

.sidebar-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  padding: 20px;
}

.ineer-button {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.inner-button-first {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.inner-button-second {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.flex-right {
  font-size: 30px;
  font-weight: 600;
}

.ineer-button:hover {
  background: #fea700;
  cursor: pointer;
}

.car_header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.order_content {
  padding: 50px 30px;
}

.car_payments {
  float: none;
  position: static;
  max-height: 0px;
  background: transparent;
  opacity: 0;
  visibility: hidden;
}

.car_sub_payments {
  position: relative;
  padding-left: 50px;
}

.car_111 ~ .car_payments {
  visibility: visible;
  opacity: 1;
  max-height: 100vh;
}

.car_p_toggle {
  position: relative;
}

.car_p_toggle::after {
  content: "";
  background: url("../Images/payment_dd.png") no-repeat;
  position: absolute;
  right: 25px;
  top: 20px;
  width: 15px;
  height: 8px;
}

.accordion-item .accordion-button:focus {
  box-shadow: none;
  border-color: none;
}

.wallet_phonepe {
  float: none;
  position: static;
  max-height: 0px;
  background: transparent;
  opacity: 0;
  visibility: hidden;
}

.wallet_pay {
  position: relative;
  padding-left: 50px;
}

.car_222 ~ .wallet_phonepe {
  visibility: visible;
  opacity: 1;
  max-height: 100vh;
}

.wallet_p_toggle {
  position: relative;
}

.wallet_p_toggle::after {
  content: "";
  background: url("../Images/payment_dd.png") no-repeat;
  position: absolute;
  right: 25px;
  top: 20px;
  width: 15px;
  height: 8px;
}

.other_options {
  float: none;
  position: static;
  max-height: 0px;
  background: transparent;
  opacity: 0;
  visibility: hidden;
}

.other_dropd {
  position: relative;
  padding-left: 50px;
}

.other_700 ~ .other_options {
  visibility: visible;
  opacity: 1;
  max-height: 100vh;
}

.other_p_toggle {
  position: relative;
}

.other_p_toggle::after {
  content: "";
  background: url("../Images/payment_dd.png") no-repeat;
  position: absolute;
  right: 25px;
  top: 20px;
  width: 15px;
  height: 8px;
}

.insurance_dropd {
  float: none;
  position: static;
  max-height: 0px;
  background: transparent;
  opacity: 0;
  visibility: hidden;
}

.insurance_opt {
  position: relative;
  padding-left: 50px;
}

.insurance_800 ~ .insurance_dropd {
  visibility: visible;
  opacity: 1;
  max-height: 100vh;
}

.insurance_toggle {
  position: relative;
}

.insurance_toggle::after {
  content: "";
  background: url("../Images/payment_dd.png") no-repeat;
  position: absolute;
  right: 25px;
  top: 20px;
  width: 15px;
  height: 8px;
}

.Travel_dropd {
  float: none;
  position: static;
  max-height: 0px;
  background: transparent;
  opacity: 0;
  visibility: hidden;
}

.Travel_opt {
  position: relative;
  padding-left: 50px;
}

.Travel_800 ~ .Travel_dropd {
  visibility: visible;
  opacity: 1;
  max-height: 100vh;
}

.Travel_toggle {
  position: relative;
}

.Travel_toggle::after {
  content: "";
  background: url("../Images/payment_dd.png") no-repeat;
  position: absolute;
  right: 25px;
  top: 20px;
  width: 15px;
  height: 8px;
}

.Vehicle_dropd {
  float: none;
  position: static;
  max-height: 0px;
  background: transparent;
  opacity: 0;
  visibility: hidden;
}

.Vehicle_opt {
  position: relative;
  padding-left: 50px;
}

.Vehicle_800 ~ .Vehicle_dropd {
  visibility: visible;
  opacity: 1;
  max-height: 100vh;
}

.Vehicle_toggle {
  position: relative;
}

.Vehicle_toggle::after {
  content: "";
  background: url("../Images/payment_dd.png") no-repeat;
  position: absolute;
  right: 25px;
  top: 20px;
  width: 15px;
  height: 8px;
}

@media screen and (max-width: 991px) {
  .issue-options {
    width: 40%;
  }

  .sidebar {
    width: 60%;
  }

  .login-text {
    font-size: 11px;
  }

  .pendrive {
    width: 60%;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .des {
    font-size: 11px;
  }
  .de {
    font-size: 11px;
  }
}
@media screen and (max-width: 767px) {
  .main-inner-content {
    flex-direction: column;
    align-items: center;
  }

  .types-of-issue {
    width: 100%;
  }

  .sidebar {
    width: 100%;
  }

  .main_sidebar_upper_li_div {
    padding: 10px 15px;
  }

  .order_content {
    padding: 50px 15px;
  }

  .accordion-button {
    font-size: 13px;
  }

  .accordion-body {
    font-size: 13px;
  }

  .issue-options {
    max-height: 600px;
    width: 100%;
    max-width: 440px;
  }

  .active123 {
    padding: 10px 15px;
  }

  .flex-photo {
    padding: 20px 20px;
  }

  .pendrive {
    width: 100%;
    max-width: 140px;
  }

  .des {
    font-size: 13px;
  }
}
