.alert_body {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    opacity: 0.7;
}

.cart_contant {
    padding: 30px 0 100px 0;
}

.cc_header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.cc_body {
    padding: 40px 0;
}

.cc_text2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    width: 100%;
    display: flex;
}

.cc_btns {
    margin: 0 20px;
    display: flex;
}

.sun_body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    flex-flow: row wrap;
    padding: 0 10px;
}

.cc_price {
    color: #FEA700;
    margin: 0 20px;
}

.cc_btn {
    width: 100%;
    height: 40px;
    max-width: 140px;
    font-size: 16px;
    padding: 8px 0px;
    border: 1px solid;
    text-align: center;
    border-radius: 10px;
    margin: 0 20px;
}

.cc_btn_sub {
    padding: 0 15px;
    cursor: pointer;
}

.cc_bn {
    width: 135px;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin-right: 20px;
    background: #fff;
}

.cc_atc {
    width: 142px;
    height: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 5px;
}

.cart_img {
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
}

.cc_imgs {
    width: 100%;
    max-width: 150px;
    position: relative;
    margin: 0 auto;
}

.emt_cart {
    margin: 200px auto;
    text-align: center;
    width: 100%;
    max-width: 350px;
}

.emt_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    padding: 20px 0;
}

.emt_img {
    margin: 0 auto;
}

.close_btn {
    width: 30px;
    height: 30px;
    border-radius: 50% 50%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    align-items: center;
    z-index: 1;
    right: -15px;
    top: -15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1112px) {
    .sun_body {
        justify-content: center;
    }

    .cart_img {
        max-width: 225px;
    }

    .cc_imgs {
        max-width: 225px;
    }
}

@media screen and (max-width: 1040px) {
    .cart_img {
        max-width: 225px;
    }
}

@media screen and (max-width: 813px) {}



@media screen and (max-width: 611px) {
    .cc_text2 {
        flex-flow: row wrap;
        justify-content: center;
        max-width: 300px;
        margin: 0 auto;
    }

    .cc_btns {
        padding: 10px 0;
    }

    .cc_btns {
        margin: 0 0px;
    }

    .cc_text2 {
        font-size: 16px;
    }

    .cc_atc {
        width: 135px;
    }

    .bd_txt {
        padding-top: 10px;
    }

    .sun_body {
        gap: 10px;
    }
}

@media screen and (max-width: 600px) {
    .alert_body {
        font-size: 20px;
    }

    .emt_cart {
        margin: 150px auto;
    }
}

@media screen and (max-width: 455px) {
    .alert_body {
        font-size: 14px;
    }
}