* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: block;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* first-section */
.f-sec {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.f-part {
  max-width: 940px;
  width: 100%;
}
.f-part-inner {
  display: flex;
  justify-content: space-between;
  max-width: 940px;
  width: 100%;
}
.f-realme {
  max-width: 460px;
  width: 100%;
}
/* real-me- seaction */
.s-sec {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.realme h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
}
.realme {
  max-width: 460px;
  width: 100%;
}
.price-sec {
  display: flex;
  margin-top: 20px;
}
.price-sec h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #fea700;
  margin-right: 10px;
}
.price-sec h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-block: auto;
}
.stock {
  display: flex;
  margin-top: 26px;
}
.stock h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.stock img {
  margin-right: 11px;
}
.info p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.info {
  margin-top: 14px;
}
.info p {
  font-family: "Poppins";
  font-style: normal;

  font-size: 16px;
  font-weight: 500;
}
.in1 {
  line-height: 40px;
  display: flex;
}

.in1 p strong {
  margin-right: 5px;
  color: black;
}

.in1 p {
  color: rgba(39, 34, 32, 0.5);
}
.ind {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  max-width: 140px;
  width: 100%;
  padding: 8px 30px 8px 29px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid rgba(88, 84, 83, 0.5);
}
.ind button {
  margin-top: -3px;
  color: #6f7176;
  border: none;
  background: none;
}

.ind p {
  color: #6f7176;
}

.cart-now-btn button {
  max-width: 150px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
}
.cart-now-btn .cart {
  color: black;
  border: none;
  background: #fea700;
  margin-right: 20px;
}
.cart-now-btn .buy {
  color: rgba(39, 34, 32, 0.5);
  border: 2px solid rgba(88, 84, 83, 0.5);
  background: none;
}
.soc {
  display: flex;
  padding: 8px 0px;
}
.soc .share {
  margin-block: auto;
}
.def {
  line-height: 21px;
}

.soc button {
  margin-right: 27px;
  margin-left: 10px;
  border: none;
  background: none;
}
.b1 {
  padding: 4px 0px;
}
.s1 {
  padding: 4px 0px;
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* slider-info  */
/* .tab {
  display: none;
}

.tab:target {
  display: block;
}

.tab:last-child {
  display: block;
}

.tab:target ~ section.tab:last-child {
  display: none;
}

.tab > nav > a.active {
  border-bottom: 2px solid #fea700;
  color: #fea700;
} */

/* Layout */
/* main .tab {
  width: 100%;
  max-width: 500px;
}

main {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 50px 0;
}

.tab > * {
  width: 100%;
  padding-top: 10px;
  margin: 0;
}

.tab > nav {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tab > nav > a {
  cursor: pointer;
  padding: 13px 25px;
  margin: 0px 2px;
  color: #6f7176;
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 36px;
  border-radius: 3px 3px 0px 0px;
  text-decoration: none;
}

.tab-box {
  padding: 30px;
  background: #fff;
  animation: fadein 2s;
  border-radius: 5px;
}
.snd-info1 h6 {
  margin-right: 140px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
}
.snd-info2 h6 {
  margin-right: 150px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.tab nav {
  display: flex;
  justify-content: space-between;
}
.info-slid {
  margin-top: 20px;
}
.tb-info {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  margin-top: 55px;
}
.snd-info1 {
  display: flex;
  max-width: 450px;
  width: 100%;
}
.snd-info2 {
  display: flex;

  max-width: 450px;
  width: 100%;
}
.tab-box h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
}
.tab-box p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 35px;
  margin-bottom: 20px;
}
.rat {
  display: flex;
}
.rat h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 35px;
  margin-right: 5px;
}
.rat img {
  max-width: 90px;
  width: 100%;
  height: 15px;
  margin-block: auto;
}
.review {
  margin-top: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.review-area {
  max-width: 613px;
  height: 150px;
  border: 2px solid #7c7676;
  border-radius: 5px;
}
.rev {
  flex-direction: column;
  display: flex;
}
.name-email {
  display: flex;
  gap: 63px;
}
.name-email textarea {
  max-width: 295px;
  width: 115%;
  height: 60px;
  border: 2px solid #7c7676;
  border-radius: 5px;
}
.check-p {
  display: flex;
  margin-top: 20px;
  gap: 5px;
}
.sub {
  max-width: 171px;
  width: 100%;
  height: 39px;
  background-color: #fea700;
  color: black;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-top: 30px;
  border-radius: 5px;
  border: none;
  margin-bottom: 50px;
} */

/* free-part */
.free-part {
  margin-top: 46px;
  padding: 15px;
  max-width: 461px;
  height: 450px;
  width: 100%;
  border: 2px solid rgba(88, 84, 83, 0.5);
  border-radius: 5px;
  margin-bottom: 40px;
}
.fp-1 {
  margin: 21px 57px 16px 0px;
  display: flex;
  justify-content: space-evenly;
}
.fp-1 h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}
.fp-inf0 {
  margin-block: auto;
}
.sale-ban {
  margin-bottom: 50px;
}
.pro {
  display: flex;
  margin-top: 50px;
}
.pro .pic {
  max-width: 121px;
  width: 100%;
  height: 121px;
  margin-right: 20px;
}
.p-name {
  display: flex;
  margin-bottom: 10px;
}
.march {
  margin-block: auto;
  font-size: 14px;
}
.doe {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-right: 7px;
  color: #000000;
}
.p-star {
  margin-bottom: 10px;
}
.p-paragraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
/* 4th */
.nike {
  display: flex;
}
.n-pic {
  padding: 39px 18px;
  border: 2px solid rgba(88, 84, 83, 0.5);
  border-radius: 5px;
  margin-right: 20px;
}
.star-rev {
  display: flex;
}
.r-star {
  margin-right: 5px;
}
.n-info {
  margin: auto 0;
}
.detail {
  margin-top: 30px;
  margin-bottom: 30px;
}
.s-name {
  display: flex;
  margin-bottom: 10px;
}
.s-name h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-right: 75px;
}
.s-name p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.add h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-right: 101px;
}
.add p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.phone h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-right: 113px;
}
.phone p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.add {
  display: flex;
  margin-bottom: 10px;
}
.phone {
  display: flex;
  margin-bottom: 10px;
}
.vendor-p1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.vendor-p1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
/* product-slider-part */
.p-inner {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.p-inner .m-pro {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
}
.pro-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.pro-2 {
  display: flex;
  justify-content: space-between;
}

/* latest products */
/* .latest {
  margin: 20px 0px;
} */

/* ---------------------------------------------Responsive----------------------------------- */

@media screen and (max-width: 1430px) {
  .f-realme img {
    width: 390px;
  }
  .s-sec img {
    width: 90px;
  }
  .s-sec {
    max-width: 390px;
    width: 100%;
  }
  .realme {
    margin: 15px;
    max-width: 525px;
  }
  .free-part {
    max-width: 437px;
  }
  .in1 p br {
    display: none;
  }
  .realme h3 {
    font-size: 27px;
  }
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 320px) {
}
