* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: block;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* first-section */
.f-sec {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.f-part {
  max-width: 940px;
  width: 100%;
}
.f-part-inner {
  display: flex;
  justify-content: space-between;
  max-width: 940px;
  width: 100%;
}
.f-realme {
  max-width: 460px;
  width: 100%;
}
/* real-me- seaction */
.s-sec {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.realme h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
}
.realme {
  max-width: 460px;
  width: 100%;
}
.price-sec {
  display: flex;
  margin-top: 20px;
}
.price-sec h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #fea700;
  margin-right: 10px;
}
.price-sec h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-block: auto;
}
.stock {
  display: flex;
  margin-top: 26px;
}
.stock h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.stock img {
  margin-right: 11px;
}
.info p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.info {
  margin-top: 14px;
}
.info p {
  font-family: "Poppins";
  font-style: normal;

  font-size: 16px;
  font-weight: 500;
}
.in1 {
  line-height: 40px;
  display: flex;
}

.in1 p strong {
  margin-right: 5px;
  color: black;
}

.in1 p {
  color: rgba(39, 34, 32, 0.5);
}
.ind {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  max-width: 140px;
  width: 100%;
  padding: 8px 30px 8px 29px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid rgba(88, 84, 83, 0.5);
}
.ind button {
  margin-top: -3px;
  color: #6f7176;
  border: none;
  background: none;
}

.ind p {
  color: #6f7176;
}
.cart-now-btn {
  margin: 30px 0px;
}
.cart-now-btn button {
  max-width: 150px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
}
.cart-now-btn .cart {
  color: black;
  border: none;
  background: #fea700;
  margin-right: 20px;
}
.cart-now-btn .buy {
  color: rgba(39, 34, 32, 0.5);
  border: 2px solid rgba(88, 84, 83, 0.5);
  background: none;
}
.soc {
  display: flex;
  padding: 8px 0px;
}
.def {
  line-height: 21px;
}

.soc button {
  margin-right: 27px;
  margin-left: 10px;
  border: none;
  background: none;
}
.b1 {
  padding: 4px 0px;
}
.s1 {
  padding: 4px 0px;
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* slider-info  */
.tab {
  display: none;
}

.tab:target {
  display: block;
}

.tab:last-child {
  display: block;
}

.tab:target ~ section.tab:last-child {
  display: none;
}

.tab > nav > a.active {
  border-bottom: 2px solid orangered;
  color: orangered;
}

/* Layout */
main .tab {
  width: 100%;
  max-width: 500px;
}

main {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 50px 0;
}

.tab > * {
  width: 100%;
  padding-top: 10px;
  margin: 0;
}

.tab > nav {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tab > nav > a {
  cursor: pointer;
  padding: 13px 25px;
  margin: 0px 2px;
  color: #6f7176;
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 36px;
  border-radius: 3px 3px 0px 0px;
  text-decoration: none;
}

.tab-box {
  padding: 30px;
  background: #fff;

  height: 400px;
  animation: fadein 2s;
  border-radius: 5px;
}
.snd-info1 h6 {
  margin-right: 140px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
}
.snd-info2 h6 {
  margin-right: 150px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
}

.tab-box img {
  width: 100%;
  height: 100%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.tab nav {
  display: flex;
  justify-content: space-between;
}
.info-slid {
  margin-top: 20px;
}
.tb-info {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  margin-top: 55px;
}
.snd-info1 {
  display: flex;
  max-width: 450px;
  width: 100%;
}
.snd-info2 {
  display: flex;

  max-width: 450px;
  width: 100%;
}
/* free-part */
.free-part {
  margin-top: 46px;
  padding: 15px;
  max-width: 461px;
  height: 450px;
  width: 100%;
  border: 2px solid rgba(88, 84, 83, 0.5);
  border-radius: 5px;
  margin-bottom: 40px;
}
.fp-1 {
  margin: 21px 57px 16px 0px;
  display: flex;
  justify-content: space-evenly;
}
.fp-1 h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}
.fp-inf0 {
  margin-block: auto;
}
.sale-ban {
  margin-bottom: 50px;
}
/* product-slider-part */
.p-inner {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.p-inner .m-pro {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
}
.pro-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.pro-2 {
  display: flex;
  justify-content: space-between;
}
