.s_header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* text-align: center; */
  color: #000000;
  padding: 30px 0;
  display: flex;
}

.home_hover {
  transition: transform 0.5s ease-out;
  color: #000000;
}

.home_hover:hover {
  text-decoration: underline !important;
  color: #000000;
}

.main_banner {
  background-color: #cbc3c0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_text {
  font-family: "Poppins";
  font-style: normal;
  padding: 190px 120px;
}

.collection {
  font-weight: 500;
  font-size: 24px;
}

.smart {
  font-weight: 600;
  font-size: 39px;
}

.lorem {
  font-weight: 500;
  margin-bottom: 40px;
  font-size: 16px;
}

.inner-headset {
  width: 100%;
  max-width: 400px;
}

.headset {
  width: 100%;
}

.main_filter_div {
  display: flex;
  /* align-items: center; */
}

.filter-top-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.filter {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.clearall {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding-right: 30px;
}

.side_nav {
  display: flex;
  gap: 20px;
  width: 100%;
}

.sort-by {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.menu {
  display: grid;
  grid-template-rows: 40px max-content;
  position: relative;
}

.toggle {
  all: unset;
  width: 160px;
  padding: 10px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #000;
  /* margin-right: 20px; */
}

.toggle::after {
  content: "";
  width: 6px;
  height: 6px;
  border-width: 0 3px 3px 0;
  border-style: solid;
  transform: rotate(45deg);
  transition: 0.4s;
}

.list {
  color: #444;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(4, 40px);
  border-radius: 5px;
  overflow: hidden;
  transition: 0.4s;
  margin-top: 3px;
  position: absolute;
  top: 37px;
  height: auto;
  font-size: 15px;
  width: 100%;
}


select{
  border:none;
  padding: 10px 20px;
  border-radius:5px;
}

select:focus{
  outline:none;
}

.list-item {
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.4s, transform 0.4s var(--delay);
  transform: translateX(-100%);
  user-select: none;
  cursor: pointer;
  background-color: #fff;
}

.list-item:hover {
  background-color: dodgerblue;
  color: #fff;
  box-shadow: 0 0 10px #666;
}

.toggle:focus::after {
  transform: rotate(225deg);
}

.toggle:focus ~ .list {
  height: 160px;
}

.toggle:focus ~ .list .list-item {
  transform: translateX(0);
}

.reset {
  border: 1px solid #000;
  padding: 7px 40px;
  border-radius: 7px;
  cursor: pointer;
}

.end-div {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  width: 100%;
}

.navspace1 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navbar-nav1 {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: space-between;
  width: 100%;
}

.col-md-4 {
  align-items: center;
  display: flex;
  margin-bottom: 40px;
}

.nav-link1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px !important;
  color: #000 !important;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2.6px;
  width: fit-content;
}

.inner_ul {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.6;
  margin: 30px 0 10px 0;
}

.inner_li {
  padding: 10px 0;
}

.inner-padding {
  padding: 10px 23px;
  overflow: scroll;
}

.go {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  color: #000;
  width: 70px;
  height: 40px;
  background: #fea700;
  border: 0px;
  border-radius: 5px;
}

/* .offcanvas.offcanvas-end {
  width: 85%;
  display: hidden;
} */

.end_inner_ul {
  display: flex;
  margin-bottom: 30px;
}

.max {
  width: 70px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #000;
}

.dash {
  display: flex;
  align-items: center;
  margin: 0 3px;
}

.outer_checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.send_reset {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #000;
  width: 150px;
  height: 40px;
  background: #fea700;
  border: 0px;
  border-radius: 5px;
  padding: 11px 0;
  width: 100%;
}

.send_cart {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #000;
  width: 150px;
  height: 40px;
  background: #fea700;
  border: 0px;
  border-radius: 5px;
  margin: 30px 0;
}

.buy {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #000;
  width: 150px;
  height: 40px;
  border: 0px;
  border-radius: 5px;
  padding: 11px 0;
  margin: 30px 30px;
}

/* Hide the browser's default checkbox */
.outer_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.outer_checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.outer_checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.menu:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.outer_checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.outer_checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.inner_checkbox {
  margin: 30px 0;
}

.second_part {
  display: flex;
}

.dj {
  width: 33%;
}

.img1 {
  display: flex;
  gap: 40px;
  padding: 10px 0;
}

.img_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.img {
  margin: 0 10px;
}

/* .Grid-view{
  display: none;
} */

.grid_btns {
  cursor: pointer;
  font-size: 25px;
}

.show123 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  padding: 30px 0;
}

.nothing {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.page {
  display: flex;
  gap: 20px;
}

.first_page {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0 18px;
}

.list-view {
  display: flex;
  flex-flow: row wrap;
}

.list_gap {
  padding: 10px;
}

.top_seller_cnt123 h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 10px;
}

.top_seller_cnt123 .review-part123 {
  justify-content: flex-start;
}

.top_seller_cnt123 h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #fea700;
  display: flex;
  align-items: center;
  gap: 10px;
}

.top_seller_cnt123 h5 span {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-decoration-line: line-through;
  color: #000000;
}

.review-part123 {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.review-part123 span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #000000;
}

@media screen and (max-width: 1400px) {
  .review-part123 img {
    width: 90px;
  }

  .review-part123 span {
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (max-width: 1200px) {
  .inner_text {
    padding: 190px 60px;
  }

  .top_seller_cnt123 h3 {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 7px;
  }

  .top_seller_cnt123 h5 {
    font-size: 17px;
    line-height: 26px;
  }

  .top_seller_cnt123 h5 span {
    font-size: 13px;
    line-height: 18px;
  }
}

@media screen and (max-width: 991px) {
  .navspace1 {
    flex-direction: column;
  }

  .clearall {
    padding-right: 0px;
  }

  .filter-top-nav {
    flex-direction: column;
    align-items: start;
  }

  .dj {
    display: none;
  }
}

@media screen and (max-width: 923px) {
  .toggle {
    width: 150px;
    padding: 10px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 823px) {
  .inner_text {
    padding: 190px 30px;
  }

  .collection {
    font-size: 20px;
  }

  .smart {
    font-size: 35px;
  }

  .sort-by {
    font-size: 16px;
  }

  .side_nav {
    gap: 11px;
  }
}

@media screen and (max-width: 767px) {
  .main_filter_div {
    justify-content: space-evenly;
  }

  .review-part123 {
    flex-direction: column;
    align-items: start;
    gap: 6px;
    margin-bottom: 3px;
  }

  .review-part123 img {
    width: 70px;
  }

  .review-part123 span {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 710px) {
  .main_banner {
    flex-direction: column;
  }

  .inner_text {
    padding: 40px 20px 10px;
    text-align: center;
  }

  .collection {
    font-weight: 500;
    font-size: 15px;
  }

  .smart {
    font-weight: 600;
    font-size: 29px;
  }

  .lorem {
    font-weight: 500;
    font-size: 9px;
  }

  .inner-headset {
    max-width: 280px;
  }

  .buy {
    margin: 0 0;
    width: 100%;
    padding: 10px 10px;
  }

  .send_cart {
    margin: 10px 0;
    width: 100%;
    padding: 10px 10px;
  }

  .below_in_stoke {
    font-size: 10px;
  }

  .two_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

@media screen and (max-width: 624px) {
  .sort-by {
    display: none;
  }

  .end-div {
    flex-flow: row wrap;
    justify-content: end;
    margin-right: 0px;
    gap: 17px;
  }

  .toggle {
    width: 100px;
    padding: 6px;
    font-size: 11px;
    margin-right: 0px;
  }

  .reset {
    padding: 7px 22px;
    display: flex;
    align-items: center;
  }

  .list {
    grid-template-rows: repeat(4, 30px);
    font-size: 10px;
  }

  /* .img1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  } */

  .img1 {
    gap: 10px;
  }

  /* .top_seller_cnt123 .review-part123 {
    align-items: center;
  }

  .top_seller_cnt123 span {
    justify-content: center;
  }

  .top_seller_cnt123 h5 {
    justify-content: center;
  } */

  .show123 {
    font-size: 13px;
  }

  .inner_img {
    width: 100%;
  }

  .non_image {
    width: 60%;
  }

  .top_seller_cnt123 h3 {
    font-size: 15px;
    margin-bottom: 0px !important;
  }
}

@media screen and (max-width: 414px) {
  .smart {
    font-size: 24px;
  }

  .filter {
    font-size: 16px;
  }

  .clearall {
    font-size: 8px;
  }

  .page {
    gap: 10px;
  }
}
